.left {
    display: flex;
    align-items: center;
    min-width: 640px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leftBlock {
    display: flex;
    flex-direction: column;
    position: relative;
}

.ref{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0;
}

.ref span {
    font-size: 15px;
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: .1em !important;
    line-height: 36px;
    color: #363636;
}

.ref img {
    display: block;
    width: 9px;
    margin-left: 10px;
}
