.wrapperCount {
    display: flex;
    align-self: center;
}

.wrapperCount input {
    border: 1px solid #cccccc;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px 0 0 3px;
    color: black;
    box-sizing: border-box;
}

.wrapperCount input:focus {
    outline: none;
}

.count {
    display: flex;
    flex-direction: column;
}

.count div{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    border: 1px solid #cccccc;
    width: 20px;
    height: 20px;
    padding: 0;
    border-left: none;
    background: #ffffff;
    cursor: pointer;
}

.count div:first-child {
    border-radius: 0 3px 0 0;
}

.count div:last-child {
    border-radius: 0 0 3px 0;
    border-top: none;
}

.count div img {
    margin: auto;
    width: 10px;
    height: 10px;
}