.wrapper {
    justify-content: space-between;
    display: flex;
    width: 1056px;
    margin: auto;
}

.wrapper img {
    width: 420px;
    border-radius: 5px;
}

.descriptionProduct {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 595px;
}

.descriptionProduct h1{
    text-align: center;
    margin-top: 5px;
}

.booleanTrue {
    color: green;
}

.booleanFalse {
    color: red;
}

.descriptionProduct span {
    margin: 5px 0;
}

.descriptionProduct .price {
    margin: 35px 0;
}

.wrapper .description {
    margin-top: 10px;
    text-align: justify;
    font-size: 16px;
}

.table {
    margin: 10px 0;
}

.table span{
    border-bottom: 1px dashed;
    cursor: pointer;
}