body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.active span{
  color: #929292;
}

.refHidden:hover .hidden {
  display: block;
}

.slick-slider .slick-prev {
  left: 10px;
  z-index: 10;
}

.slick-slider .slick-list {
  border-radius: 5px 5px 5px 5px;
}

.slick-slider .slick-prev:before {
  content: url("https://cdn-icons-png.flaticon.com/24/32/32542.png");
  width: 25px;
  height: 25px;
}

.slick-slider .slick-next:before {
  content: url("https://cdn-icons-png.flaticon.com/24/271/271228.png");
  width: 25px;
  height: 25px;
}

.slick-slider .slick-next {
  right: 10px;
}

.slick-slider .slick-arrow {
  background-size: contain;
  width: 25px;
  height: 25px;
}
