.wrapper {
    width: 960px;
    margin: auto;
    padding-bottom: 20px;
}

.title h2 {
    text-align: center;
}

.bolckCoociesAndSelect {
    display: flex;
    align-items: center;
}

.filterandprodicts {
    display: flex;
    justify-content: space-between;
}

.blockFolters {
    width: 240px;
}