.wrapper {
    width: 960px;
    margin: auto;
    padding-bottom: 20px;
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
}

.wrapper form div{
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.wrapper input {
    height: 24px;
    color: #000000;
    background: #ffffff;
    padding: 3px 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 255px;
}

.wrapper input:focus {
    outline: none;
}

.wrapper button {
    background-color: #363636;
    color: #ffffff;
    border-radius: 3px;
    padding: 8px 15px;
    cursor: pointer;
    font-family: Roboto, Arial, sans-serif;
    border: none;
    margin-left: 273px;
}

.wrapper button:hover {
    opacity: 0.8;
}

.wrapper form span {
    display: inline-block;
    position: relative;
    color: #929292;
}

.wrapper form span:after {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    background-image: url("./img/icon.svg");
}