.navigation {
    display: flex;
    width: 1056px;
    justify-content: space-between;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1056px;
    margin: auto;
    min-height: 118px;
    padding-top: 10px;
}

.logo img {
    display: block;
    max-width: 308px;
}